<html lang='uz'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Faollashtirish</title>
  </head>
  <body>
    <div>
      <h1>mebel projectdan salom {{full_name}}!</h1>
      <h2>Aktivlashtirish uchun Faollashtirish tugmasi bosing</h2>
      <p>
        <a href='{{url}}'>Faollashtirish</a>
      </p>
    </div>
  </body>
</html>